<div 
  class="option-card" 
  [class.selected]="selected"
  (click)="onSelect()"
  role="button"
  tabindex="0"
  (keydown.enter)="onSelect()"
  (keydown.space)="onSelect()"
>
  <div class="option-icon">{{ icon }}</div>
  <div class="option-content">
    <h3 class="option-title">{{ title }}</h3>
    <p class="option-description">{{ description }}</p>
  </div>
  <div class="option-check">
    <svg *ngIf="selected" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z" fill="currentColor"/>
    </svg>
  </div>
</div>

